In [1]:
import requests
import pandas as pd 
import json
with open("API_KEYCENSUS.txt", "r") as file:
    api_key= file.read().strip() 

def json_to_dataframe(response):
    return pd.DataFrame(response.json()[1:],columns=response.json()[0])

In [2]:
data= pd.read_csv("ACSST5Y2023.S2503-Data.csv")
data

C:\Users\User\AppData\Local\Temp\ipykernel_28384\3842980691.py:1: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,278,279,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463) have mixed types. Specify dtype option on import or set low_memory=False.
  data= pd.read_csv("ACSST5Y2023.S2503-Data.csv")

,GEO_ID,NAME,S2503_C01_001E,S2503_C01_001M,S2503_C01_002E,S2503_C01_002M,S2503_C01_003E,S2503_C01_003M,S2503_C01_004E,S2503_C01_004M,...,S2503_C06_042M,S2503_C06_043E,S2503_C06_043M,S2503_C06_044E,S2503_C06_044M,S2503_C06_045E,S2503_C06_045M,S2503_C06_046E,S2503_C06_046M,Unnamed: 554
0,Geography,Geographic Area Name,Estimate!!Occupied housing units!!Occupied hou...,Margin of Error!!Occupied housing units!!Occup...,Estimate!!Occupied housing units!!Occupied hou...,Margin of Error!!Occupied housing units!!Occup...,Estimate!!Occupied housing units!!Occupied hou...,Margin of Error!!Occupied housing units!!Occup...,Estimate!!Occupied housing units!!Occupied hou...,Margin of Error!!Occupied housing units!!Occup...,...,Margin of Error!!Percent renter-occupied housi...,Estimate!!Percent renter-occupied housing unit...,Margin of Error!!Percent renter-occupied housi...,Estimate!!Percent renter-occupied housing unit...,Margin of Error!!Percent renter-occupied housi...,Estimate!!Percent renter-occupied housing unit...,Margin of Error!!Percent renter-occupied housi...,Estimate!!Percent renter-occupied housing unit...,Margin of Error!!Percent renter-occupied housi...,NaN
1,860Z200US89010,ZCTA5 89010,165,58,0,13,0,13,0,13,...,22.6,0.0,50.4,0.0,50.4,0.0,50.4,35.0,46.1,NaN
2,860Z200US89019,ZCTA5 89019,1198,315,0,13,0,13,40,46,...,9.9,0.0,8.0,0.0,8.0,0.0,8.0,7.3,9.9,NaN
3,860Z200US89060,ZCTA5 89060,5163,473,205,159,59,65,218,138,...,10.7,0.8,2.6,1.1,1.8,0.0,3.6,18.8,13.3,NaN
4,860Z200US89061,ZCTA5 89061,3400,339,35,38,24,37,33,40,...,29.6,10.4,14.1,0.0,8.6,0.0,8.6,12.5,12.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1804,860Z200US96148,ZCTA5 96148,222,84,0,14,0,14,0,14,...,70.7,0.0,70.7,39.1,55.9,0.0,70.7,0.0,70.7,NaN
1805,860Z200US96150,ZCTA5 96150,12678,447,289,136,222,99,356,133,...,4.3,11.8,2.8,4.5,1.9,1.5,1.3,1.3,0.9,NaN
1806,860Z200US96155,ZCTA5 96155,0,14,0,14,0,14,0,14,...,**,-,**,-,**,-,**,-,**,NaN
1807,860Z200US96161,ZCTA5 96161,7655,379,361,174,39,47,138,76,...,7.6,16.0,10.4,10.9,6.4,5.9,7.5,2.6,1.8,NaN
1808,860Z200US97635,ZCTA5 97635,107,65,10,16,0,13,0,13,...,38.1,0.0,38.1,0.0,38.1,0.0,38.1,0.0,38.1,NaN

In [3]:
data['NAME']=data['NAME'].str[5:11].str.strip()

data

,GEO_ID,NAME,S2503_C01_001E,S2503_C01_001M,S2503_C01_002E,S2503_C01_002M,S2503_C01_003E,S2503_C01_003M,S2503_C01_004E,S2503_C01_004M,...,S2503_C06_042M,S2503_C06_043E,S2503_C06_043M,S2503_C06_044E,S2503_C06_044M,S2503_C06_045E,S2503_C06_045M,S2503_C06_046E,S2503_C06_046M,Unnamed: 554
0,Geography,aphic,Estimate!!Occupied housing units!!Occupied hou...,Margin of Error!!Occupied housing units!!Occup...,Estimate!!Occupied housing units!!Occupied hou...,Margin of Error!!Occupied housing units!!Occup...,Estimate!!Occupied housing units!!Occupied hou...,Margin of Error!!Occupied housing units!!Occup...,Estimate!!Occupied housing units!!Occupied hou...,Margin of Error!!Occupied housing units!!Occup...,...,Margin of Error!!Percent renter-occupied housi...,Estimate!!Percent renter-occupied housing unit...,Margin of Error!!Percent renter-occupied housi...,Estimate!!Percent renter-occupied housing unit...,Margin of Error!!Percent renter-occupied housi...,Estimate!!Percent renter-occupied housing unit...,Margin of Error!!Percent renter-occupied housi...,Estimate!!Percent renter-occupied housing unit...,Margin of Error!!Percent renter-occupied housi...,NaN
1,860Z200US89010,89010,165,58,0,13,0,13,0,13,...,22.6,0.0,50.4,0.0,50.4,0.0,50.4,35.0,46.1,NaN
2,860Z200US89019,89019,1198,315,0,13,0,13,40,46,...,9.9,0.0,8.0,0.0,8.0,0.0,8.0,7.3,9.9,NaN
3,860Z200US89060,89060,5163,473,205,159,59,65,218,138,...,10.7,0.8,2.6,1.1,1.8,0.0,3.6,18.8,13.3,NaN
4,860Z200US89061,89061,3400,339,35,38,24,37,33,40,...,29.6,10.4,14.1,0.0,8.6,0.0,8.6,12.5,12.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1804,860Z200US96148,96148,222,84,0,14,0,14,0,14,...,70.7,0.0,70.7,39.1,55.9,0.0,70.7,0.0,70.7,NaN
1805,860Z200US96150,96150,12678,447,289,136,222,99,356,133,...,4.3,11.8,2.8,4.5,1.9,1.5,1.3,1.3,0.9,NaN
1806,860Z200US96155,96155,0,14,0,14,0,14,0,14,...,**,-,**,-,**,-,**,-,**,NaN
1807,860Z200US96161,96161,7655,379,361,174,39,47,138,76,...,7.6,16.0,10.4,10.9,6.4,5.9,7.5,2.6,1.8,NaN
1808,860Z200US97635,97635,107,65,10,16,0,13,0,13,...,38.1,0.0,38.1,0.0,38.1,0.0,38.1,0.0,38.1,NaN

In [4]:
data= data.iloc[1:,:]
data['NAME']=data['NAME'].astype(int)
data

C:\Users\User\AppData\Local\Temp\ipykernel_28384\4116862406.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['NAME']=data['NAME'].astype(int)

,GEO_ID,NAME,S2503_C01_001E,S2503_C01_001M,S2503_C01_002E,S2503_C01_002M,S2503_C01_003E,S2503_C01_003M,S2503_C01_004E,S2503_C01_004M,...,S2503_C06_042M,S2503_C06_043E,S2503_C06_043M,S2503_C06_044E,S2503_C06_044M,S2503_C06_045E,S2503_C06_045M,S2503_C06_046E,S2503_C06_046M,Unnamed: 554
1,860Z200US89010,89010,165,58,0,13,0,13,0,13,...,22.6,0.0,50.4,0.0,50.4,0.0,50.4,35.0,46.1,NaN
2,860Z200US89019,89019,1198,315,0,13,0,13,40,46,...,9.9,0.0,8.0,0.0,8.0,0.0,8.0,7.3,9.9,NaN
3,860Z200US89060,89060,5163,473,205,159,59,65,218,138,...,10.7,0.8,2.6,1.1,1.8,0.0,3.6,18.8,13.3,NaN
4,860Z200US89061,89061,3400,339,35,38,24,37,33,40,...,29.6,10.4,14.1,0.0,8.6,0.0,8.6,12.5,12.5,NaN
5,860Z200US89439,89439,1036,126,0,13,24,41,47,45,...,15.9,9.3,14.8,10.2,12.2,0.0,15.9,0.0,15.9,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1804,860Z200US96148,96148,222,84,0,14,0,14,0,14,...,70.7,0.0,70.7,39.1,55.9,0.0,70.7,0.0,70.7,NaN
1805,860Z200US96150,96150,12678,447,289,136,222,99,356,133,...,4.3,11.8,2.8,4.5,1.9,1.5,1.3,1.3,0.9,NaN
1806,860Z200US96155,96155,0,14,0,14,0,14,0,14,...,**,-,**,-,**,-,**,-,**,NaN
1807,860Z200US96161,96161,7655,379,361,174,39,47,138,76,...,7.6,16.0,10.4,10.9,6.4,5.9,7.5,2.6,1.8,NaN
1808,860Z200US97635,97635,107,65,10,16,0,13,0,13,...,38.1,0.0,38.1,0.0,38.1,0.0,38.1,0.0,38.1,NaN

In [5]:
with open("LAZipCodes.txt", "r") as file:
    zipcodes_to_filter_out = {line.strip() for line in file} 
zipcodes_to_filter_out = {int(z) for z in zipcodes_to_filter_out}  # Convert to int
# zipcodes_to_filter_out

In [6]:
df_filtered = data[data['NAME'].isin(zipcodes_to_filter_out)]
# df_filtered[['NAME', 'S2503_C01_013E']].head() #median house income 


# df_filtered[['NAME','S2503_C01_013E']] ##median house income

df_filtered

,GEO_ID,NAME,S2503_C01_001E,S2503_C01_001M,S2503_C01_002E,S2503_C01_002M,S2503_C01_003E,S2503_C01_003M,S2503_C01_004E,S2503_C01_004M,...,S2503_C06_042M,S2503_C06_043E,S2503_C06_043M,S2503_C06_044E,S2503_C06_044M,S2503_C06_045E,S2503_C06_045M,S2503_C06_046E,S2503_C06_046M,Unnamed: 554
6,860Z200US90001,90001,13416,568,419,138,367,127,332,111,...,2.3,9.4,2.3,3.2,1.3,0.7,0.6,2.8,1.5,NaN
7,860Z200US90002,90002,13319,438,417,161,376,137,1080,216,...,2.3,7.6,2.3,5.9,2.4,1.6,1.0,2.2,1.0,NaN
8,860Z200US90003,90003,17634,686,972,251,549,149,1122,239,...,2.3,11.2,2.5,3.7,1.1,3.1,1.1,2.9,1.1,NaN
9,860Z200US90004,90004,23735,778,970,230,479,144,1196,253,...,2.0,12.1,1.4,6.0,1.3,1.8,0.9,1.2,0.5,NaN
10,860Z200US90005,90005,17477,638,1065,255,475,182,1475,326,...,2.3,11.1,1.9,5.1,1.3,4.1,1.3,1.2,0.6,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
851,860Z200US93551,93551,16997,630,292,158,297,121,252,131,...,5.6,11.6,4.6,12.2,5.6,0.6,0.9,9.1,5.4,NaN
852,860Z200US93552,93552,11009,629,249,119,137,97,174,109,...,5.3,13.7,6.0,4.6,3.8,1.3,1.5,9.4,6.5,NaN
853,860Z200US93553,93553,601,179,9,15,49,55,0,14,...,34.5,0.0,34.5,0.0,34.5,0.0,34.5,55.3,46.9,NaN
860,860Z200US93563,93563,41,42,0,14,0,14,0,14,...,100.0,0.0,100.0,0.0,100.0,0.0,100.0,0.0,100.0,NaN
862,860Z200US93591,93591,1954,217,97,55,0,19,9,15,...,7.8,4.7,7.1,0.0,8.7,1.1,2.5,8.6,10.0,NaN

In [7]:
df_final= df_filtered[['NAME',
             'S2503_C01_013E', # median income of households in 2023 in dollars 
             'S2503_C01_024E']]  # monthly housing costs in 2023 median in dollars

df_final.rename(columns={'NAME':'zipcode',
                   'S2503_C01_013E':'median_income',
                   'S2503_C01_024E':'median_housing_costs_monthly'}, inplace=True)
df_final

C:\Users\User\AppData\Local\Temp\ipykernel_28384\4215303380.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final.rename(columns={'NAME':'zipcode',

     zipcode median_income median_housing_costs_monthly
6      90001         60751                         1493
7      90002         56158                         1648
8      90003         54781                         1609
9      90004         62655                         1847
10     90005         52755                         1651
..       ...           ...                          ...
851    93551        110850                         2366
852    93552         84894                         1931
853    93553         73029                         1209
860    93563             -                         2710
862    93591         60903                         1504

[299 rows x 3 columns]

In [8]:
import numpy as np 
df_final.replace("-", 0, inplace=True)
df_final['median_income']=df_final['median_income'].astype(int)

C:\Users\User\AppData\Local\Temp\ipykernel_28384\3617351567.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final.replace("-", 0, inplace=True)
C:\Users\User\AppData\Local\Temp\ipykernel_28384\3617351567.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['median_income']=df_final['median_income'].astype(int)

In [9]:
df_final['median_housing_costs_monthly'] = df_final['median_housing_costs_monthly'].str.replace(r'\+$', '', regex=True)
df_final['median_housing_costs_monthly'] = df_final['median_housing_costs_monthly'].str.replace(',', '', regex=True)
df_final['median_housing_costs_monthly'] = df_final['median_housing_costs_monthly'].fillna(0)
df_final['median_housing_costs_monthly'] = df_final['median_housing_costs_monthly'].astype(int)

C:\Users\User\AppData\Local\Temp\ipykernel_28384\3204059337.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['median_housing_costs_monthly'] = df_final['median_housing_costs_monthly'].str.replace(r'\+$', '', regex=True)
C:\Users\User\AppData\Local\Temp\ipykernel_28384\3204059337.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['median_housing_costs_monthly'] = df_final['median_housing_costs_monthly'].str.replace(',', '', regex=True)
C:\Users\User\AppData\Local\Temp\ipykernel_28384\3204059337.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['median_housing_costs_monthly'] = df_final['median_housing_costs_monthly'].fillna(0)
C:\Users\User\AppData\Local\Temp\ipykernel_28384\3204059337.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['median_housing_costs_monthly'] = df_final['median_housing_costs_monthly'].astype(int)

In [10]:
df_final['yearly_housing_costs'] = df_final['median_housing_costs_monthly']*12
df_final

C:\Users\User\AppData\Local\Temp\ipykernel_28384\2036132502.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['yearly_housing_costs'] = df_final['median_housing_costs_monthly']*12

,zipcode,median_income,median_housing_costs_monthly,yearly_housing_costs
6,90001,60751,1493,17916
7,90002,56158,1648,19776
8,90003,54781,1609,19308
9,90004,62655,1847,22164
10,90005,52755,1651,19812
...,...,...,...,...
851,93551,110850,2366,28392
852,93552,84894,1931,23172
853,93553,73029,1209,14508
860,93563,0,2710,32520
862,93591,60903,1504,18048